<%if @article.errors.any?%>
    <h2>The following errors prevented the article from getting created.</h2>
    <ul>
      <%@article.errors.full_messages.each do |msg|%>
        <li>
          <%=msg%>
      </li>
      <%end%>
    </ul>
<%end%>
<%= form_for @article do |f|%>
  <h3><%= f.label :title %></h3>
  <p><%= f.text_field :title %></p>
  <h3><%= f.label :description %></h3>
  <p><%= f.text_area :description %></p>
  <%= f.submit%>
<%end%>
<%= link_to 'All articles list',articles_path(@article)%>
