<h1>Edit article</h1>
<%= link_to 'create new article',new_article_path%>
<%if @article.errors.any?%>
    <h2>The followin errors are prevented the article from getting an artilce.</h2>
    <ul>
      <%@article.errors.full_messages.each do |msg|%>
        <li>
          <%=msg%>
      </li>
      <%end%>
    </ul>
<%end%>
<%= form_for @article do |f|%>
  <h3><%= f.label :title %></h3>
  <p><%= f.text_field :title %></p>
  <h3><%= f.label :description %></h3>
  <p><%= f.text_area :description %></p>
  <%= f.submit%>
<%end%>
<%= link_to 'Back to all articles list',articles_path(@article)%>
