<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h3>Articles</h3>
      <%if user_signed_in?%>
      <%= link_to 'create article',new_article_path, class: "btn btn-primary"%>
      <%end%>
        <article class="article-block">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="article-main">
                    <h3><%= @article.title%></h3>
                    <p><%= @article.description%></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%if article.user.full_name.nil?%>
                    <small>Created by: Unknown</small>
                  <%else%>
                    <small>Created by: <%= article.user.full_name%></small>
                  <%end%> |
                    <small>Created at:<%= time_ago_in_words(@article.created_at)%></small> |
                    <small>Updated by:<%= time_ago_in_words(@article.updated_at) %></small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="article-control pull-right">
                    <ul>

                      <%if @article.user == current_user%>
                      <li> <%= link_to 'All articles',articles_path(@article),class: "btn btn-info"%></li>
                      <li> <%= link_to 'Edit',edit_article_path(@article),class: "btn btn-info"%></li>
                      <li><%= button_to 'Delete', article_path(@article),class: "btn btn-danger", method: :delete, action: :destroy,  onclick: 'return confirm("Are you sure?")'%></li>
                    </ul>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </article>
        <%= render partial: "comments/comments", locals: {commentable: @article}%>
      </div>
  </div>
</div
