<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Selected article</h3>
      <%= link_to 'create article',new_article_path,class: "btn btn-primary"%>
        <article class="l-article">
          <h3><%= @article.title%></h3>
          <p><%=@article.description%></p>
        </article>
    </div>
  <div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="article-bed">
        <li><%= link_to 'Back to all articles', articles_path(@article), class:"btn btn-info"%></li>
        <li><%= link_to 'Edit',edit_article_path(@article), class:"btn btn-info"%></li>
        <li><%= button_to 'Delete', article_path(@article), class:"btn btn-danger", method: :delete, action: :destroy,  onclick: 'return confirm("Are you sure?")'%></li>
      </ul>
    </div>
  </div>
</div>
